# Write and Debug code with chatGPT

In [1]:

# import library

import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv('/content/nft_sales.csv')

# print the dataframe
print(df)

## Cleaning data 

call chatGPT to remove the commons and currency signs.
Copy & paste the first five rows of data for telling AI how the table looks like.

### Prompt for chatGPT:

"how to remove the currency signs and commons in the table, using python
(copy and paste the four rows of the above table)                Collections           Sales     Buyers        Txns     Owners
0            Axie Infinity  $4,090,222,023  1,790,587  17,670,824  2,130,467
1     Bored Ape Yacht Club  $2,439,754,017     12,052      32,670      6,586
2              CryptoPunks  $2,388,467,992      6,076      22,269      3,804
3    Mutant Ape Yacht Club  $1,744,822,678     23,768      51,775     13,121
4               Art Blocks  $1,310,734,558     33,549     184,470     36,091"

Screenshot:


![picture](https://drive.google.com/uc?export=view&id=1MSFJD7s4NyU1ReJBCi-JTs__LZZZhdvZ)

read the answer from chatGPT, we alreay have dataframe "df". 
copy the code since the function "def..."

In [ ]:
#  remove commas and currency signs


def remove_currency_signs_and_commas(value):
    return int(value.replace('$', '').replace(',', ''))

columns_to_clean = ['Sales', 'Buyers', 'Txns', 'Owners']

for col in columns_to_clean:
    df[col] = df[col].apply(remove_currency_signs_and_commas)

print(df)

If you run the above code, you'll get a error: 'float' object has no attribute 'replace'

how to fix the error? 

copy and paste the error message and call chatGPT

**Prompt:**
error message: 'float' object has no attribute 'replace'

![picture](https://drive.google.com/uc?export=view&id=1L8vCL5CVAl3BfdcC4t-iJdBlMARBBEII)

chatGPT shows there might be some float values  and NaN (not a number) values in Dataframe. we need to modify the cleaning function for cleaning the mix-up data types.

In [ ]:
# remove commas and currency signs

def remove_currency_signs_and_commas(value):
    if value == 'nan':
        return None
    if isinstance(value, str):
        return value.replace('$', '').replace(',', '')
    return value

columns_to_clean = ['Sales', 'Buyers', 'Txns', 'Owners']

for col in columns_to_clean:
    df[col] = df[col].astype(str).apply(remove_currency_signs_and_commas)
    df[col] = pd.to_numeric(df[col], errors='coerce', downcast='integer')

print(df)

# the value in "owners" is  an integer, but it might be displayed as a float in the DataFrame.

## Question: which collections have sold more than usd 500 million?

**Prompt:**

Make a bar chart to show the NFT collection that have sold more than 500 million, x axis is sales, unit is million, y axis is "Collections", using python seaborn

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Filter the DataFrame to only include collections with sales greater than 100 million
filtered_df = df[df['Sales'] > 500_000_000]

# Convert sales to millions
filtered_df['Sales'] = filtered_df['Sales'] / 1_000_000

# Create a horizontal bar chart
plt.figure(figsize=(10, 6))
sns.barplot(x='Sales', y='Collections', data=filtered_df)
plt.xlabel('Sales (Millions USD)')
plt.ylabel('NFT Collections')
plt.title('NFT Collections with Sales Greater Than $500 Million')
plt.show()